<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <h1>My Todo</h1>

    <ul>
        <% todos.forEach(todo => { %>
            <li><%= todo %></li>
        <% }); %>
    </ul>

    <form action="/add" method="post">
       <input type="text" name="todo" placeholder="New Todo" required>
        <button type="submit">Add</button>
    </form>
</body>
</html>